<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuoiKi"
        tools:targetApi="31">
        <activity android:name=".Activity.User.SignUpActivity" ></activity>
        <activity android:name=".Activity.User.ForgotPassActivity" ></activity>
        <activity android:name=".Activity.User.VerifySignUpActivity" ></activity>
        <activity android:name=".Activity.User.VerifyForgotPassActivity" ></activity>
        <activity android:name=".Activity.User.MainActivity" ></activity>
        <activity android:name=".Activity.User.CartActivity" ></activity>
        <activity android:name=".Activity.User.ProductDetailActivity" ></activity>
        <activity android:name=".Activity.User.ProductCategoryActivity" ></activity>
        <activity android:name=".Activity.User.ContactActivity" ></activity>
        <activity android:name=".Activity.User.ProfileActivity" ></activity>
        <activity android:name=".Activity.User.EditProfileActivity" ></activity>
        <activity android:name=".Activity.User.ChangePassActivity" ></activity>
        <activity android:name=".Activity.User.VerifyChangePassActivity" ></activity>
        <activity android:name=".Activity.User.ProductSearchActivity" ></activity>
        <activity android:name=".Activity.User.CheckoutActivity" ></activity>
        <activity android:name=".Activity.Shipper.ShipperActivity" ></activity>


        <activity android:name=".Activity.Vendor.AddProductActivity" ></activity>
        <activity android:name=".Activity.Vendor.ManageProductActivity" ></activity>
        <activity android:name=".Activity.Vendor.EditProductActivity" ></activity>
        <activity android:name=".Activity.Vendor.ThongKeActivity" ></activity>
        <activity android:name=".Activity.Vendor.ManageOrderActivity" ></activity>



        <activity
            android:name=".Activity.User.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>